* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    background-color: #e0dfdf;
}

.navbar {
    background-color: #8d8d8d;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 60px;
    display: flex;
    margin-left: 10px;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.2;
}

.menu {
    display: flex;
    width: 20%;
}

.menu a {
    color: #ffffff;
    margin: 0 15px 0 15px;
    text-decoration: none;
}

.menu a:hover {
    color: #000000;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account span {
    color: #ffffff;
}

.profile {
    width: 50px;
    height: 50px;
    display: flex;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin: 0 10px;
}

.profile:hover {
    cursor: pointer;
    opacity: 0.2;
}

.bo-btn {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}

.bo-btn a:hover {
    cursor: pointer;
    content: "";
}

.bo-btn a {
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}
.bo-btn a::before {
    content: "Backoffice";
}

.bo-btn a:hover::before {
    content: "Backoffice space";
}

.shelf-header {
    display: flex;
    font-size: 20px;
    margin: 50px 30px;
    letter-spacing: -1.5px;
}

.shelf-header :first-child {
    color: #8d8d8d;
}

.shelf-header :last-child {
    color: #30b19e;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto 30px;
    width: 20%;
    height: auto;
    background-color: #ffffff;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 25px;
}

.product-card {
    margin: 30px 15px;
    width: 20%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.product-name {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-des p{
    color: #666;
    margin-bottom: 8px;
    width: 20%;
}

.product-img {
    margin: auto;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product .price {
    color: #545555;
    font-size: 16px;
    font-weight: 500;
}
/*backoffice*/
.home-btn{
   
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}
.home-btn a {
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}
.p-form, .product-form-edit{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#product-form, .product-form-edit {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #e9e9e9;
    border-radius: 5px;
}

#product-form, .product-form-edit label {
    display: block;
    margin-bottom: 5px;
}

#product-form input, .product-form-edit input[type="text"],
#product-form input, .product-form-edit input[type="url"],
#product-form input, .product-form-edit input[type="number"],
#product-form textarea, .product-form-edit textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#product-form button.submit, .edit{
    padding: 10px 20px;
    background-color: #929292;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#product-form button.submit:hover, .edit:hover {
    background-color: #222222;
}

/*modifiche css card backoffice*/
.product {
    margin-top: 20px;
    width: 20%;
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;  
}
.product img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border-radius: 15px;
}

.product button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #929292;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product h2, .product p{
    margin-top: 10px;
}
.product button.edit-btn:hover {
    background-color: #000000;
}
